@using TatilSeyahatSitesiMvc5.Models
@model List<TBLACIKLAMA>
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_AnasayfaLayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about d-flex flex-column align-items-center">
            @foreach(var x in Model) {
            <h3 style="text-align:center;">Hakkımda</h3>
            <img style="width:500px; height:auto; border-radius:10px;" src="~/IMG/@x.FotoUrl" alt="" />
            <p style="text-align: center; font-size:18px;">@Html.Raw(x.Aciklama)</p>
            }
        </div>
    </div>
</div>
<br />

