
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<center>
    <h2>SAYIN <span style="color:darkviolet;"> @Session["adsoyad"].ToString() </span> </h2>
    <br />
    <h2>TATİL DELİSİ YÖNETİM PANELİNE HOŞGELDİNİZ</h2>
</center>
